
{% load static %}

{% block content %}
  <br>
  <br>
  <br>
	<form method="post" enctype="multipart/form-data">
	    {% csrf_token %}
            <input type="text" name="cameraip" placeholder="Enter Ip for Camera: "/>
	    <button type="submit">Take Image From Camera: </button>
	</form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
